---
http_interactions:
- request:
    method: get
    uri: https://api.discogs.com/releases/249505
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Discogs-Media-Type:
      - discogs.v2
      X-Discogs-Ratelimit:
      - '25'
      X-Discogs-Ratelimit-Remaining:
      - '25'
      X-Discogs-Ratelimit-Used:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: '{"id": 249505, "status": "Accepted", "year": 1993, "resource_url":
        "https://api.discogs.com/releases/249505", "uri": "https://www.discogs.com/release/249505-The-Beloved-Sweet-Harmony",
        "artists": [{"name": "The Beloved", "anv": "", "join": "", "role": "", "tracks":
        "", "id": 9749, "resource_url": "https://api.discogs.com/artists/9749"}],
        "artists_sort": "Beloved, The", "labels": [{"name": "EastWest", "catno": "YZ709",
        "entity_type": "1", "entity_type_name": "Label", "id": 999, "resource_url":
        "https://api.discogs.com/labels/999"}, {"name": "EastWest", "catno": "4509-91480-7",
        "entity_type": "1", "entity_type_name": "Label", "id": 999, "resource_url":
        "https://api.discogs.com/labels/999"}], "series": [], "companies": [{"name":
        "Warner Music UK Ltd.", "catno": "", "entity_type": "13", "entity_type_name":
        "Phonographic Copyright (p)", "id": 22328, "resource_url": "https://api.discogs.com/labels/22328"},
        {"name": "Warner Music UK Ltd.", "catno": "", "entity_type": "14", "entity_type_name":
        "Copyright (c)", "id": 22328, "resource_url": "https://api.discogs.com/labels/22328"},
        {"name": "EMI Virgin Music Ltd.", "catno": "", "entity_type": "21", "entity_type_name":
        "Published By", "id": 267769, "resource_url": "https://api.discogs.com/labels/267769"},
        {"name": "Broadcrest Ltd.", "catno": "W6173", "entity_type": "30", "entity_type_name":
        "Lacquer Cut At", "id": 811700, "resource_url": "https://api.discogs.com/labels/811700"}],
        "formats": [{"name": "Vinyl", "qty": "1", "descriptions": ["7\"", "45 RPM",
        "Single"]}], "data_quality": "Needs Vote", "community": {"have": 340, "want":
        227, "rating": {"count": 25, "average": 4.48}, "submitter": {"username": "RICKJANE",
        "resource_url": "https://api.discogs.com/users/RICKJANE"}, "contributors":
        [{"username": "RICKJANE", "resource_url": "https://api.discogs.com/users/RICKJANE"},
        {"username": "mjb", "resource_url": "https://api.discogs.com/users/mjb"},
        {"username": "mal4ka", "resource_url": "https://api.discogs.com/users/mal4ka"},
        {"username": "renegad", "resource_url": "https://api.discogs.com/users/renegad"},
        {"username": "cbkbstudio", "resource_url": "https://api.discogs.com/users/cbkbstudio"},
        {"username": "battledj", "resource_url": "https://api.discogs.com/users/battledj"},
        {"username": "MrJCG", "resource_url": "https://api.discogs.com/users/MrJCG"},
        {"username": "DiscogsUpdateBot", "resource_url": "https://api.discogs.com/users/DiscogsUpdateBot"},
        {"username": "object.relations", "resource_url": "https://api.discogs.com/users/object.relations"},
        {"username": "djcarbines", "resource_url": "https://api.discogs.com/users/djcarbines"},
        {"username": "_jules", "resource_url": "https://api.discogs.com/users/_jules"},
        {"username": "jensby01", "resource_url": "https://api.discogs.com/users/jensby01"}],
        "data_quality": "Needs Vote", "status": "Accepted"}, "format_quantity": 1,
        "date_added": "2004-04-30T08:10:05-07:00", "date_changed": "2019-12-28T10:45:21-08:00",
        "num_for_sale": 6, "lowest_price": 8.86, "master_id": 10484, "master_url":
        "https://api.discogs.com/masters/10484", "title": "Sweet Harmony", "country":
        "UK", "released": "1993-01-11", "notes": "(P) (C) 1992.\n\nTrack A ''taken
        from the forthcoming album \"[m=10496]\"''\n\nPlated at Broadcrest Ltd.",
        "released_formatted": "11 Jan 1993", "identifiers": [{"type": "Barcode", "value":
        "7 4509-91480-7 2"}, {"type": "Matrix / Runout", "value": "YZ-709-A1 -", "description":
        "Side A Runout, Etched"}, {"type": "Matrix / Runout", "value": "YZ 709-B-1
        - W6173 -", "description": "Side B Runout, Etched"}, {"type": "Matrix / Runout",
        "value": "YZ-709-A1 \u2015    o", "description": "Side A, variant 2"}, {"type":
        "Matrix / Runout", "value": "YZ 709-B-1   \u2015    W6173    I\u2015", "description":
        "Side B, variant 2"}], "videos": [{"uri": "https://www.youtube.com/watch?v=Wfg0tW5uyug",
        "title": "The Beloved \u200e\u2013 Sweet Harmony (Kosmas Epsilon & Zorz Northern
        People Remix) [HD]", "description": "Label: Not On Label (The Beloved) \u200e\u2013
        FASHION ITEM 001\nFormat: Vinyl, 12, Unofficial Release, Single Sided, White
        Label \nCountry: UK\nReleased: 2004\nGenre: Electronic\nStyle: Progressive
        House, Progressive Trance", "duration": 728, "embed": true}, {"uri": "https://www.youtube.com/watch?v=k6Jdja9O65A",
        "title": "Sweet Harmony", "description": "Provided to YouTube by New State
        Entertainment Ltd\n\nSweet Harmony \u00b7 The Beloved\n\nSweet Harmony\n\n\u2117
        2019 New State Music\n\nReleased on: 2019-03-08\n\nProducer: Helena Marsh\nProducer:
        Jon Marsh\nMusic  Publisher: EMI Virgin Music Ltd.\nComposer: Helena Marsh\nComp",
        "duration": 238, "embed": true}, {"uri": "https://www.youtube.com/watch?v[...]
